# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore environment folders
env/
venv/

# Ignore sensitive files
*.env

# Ignore log files
*.log

# Ignore other files or folders
products.db
results.json